{% extends 'base.html.twig' %}

{% block body %}
    {{ include('micro-post/row-post.html.twig', {'post': post } ) }}

    <small class="d-block text-right mt-3">
        <a href="{{ path('micropost_edit', {'id': post.id }) }}">Edit</a>
        <a href="{{ path('micropost_delete', {'id': post.id }) }}">Delete</a>
    </small>
{% endblock %}

