{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <h1>Welcome to the Micro Blog!</h1>
    <a href="{{ path('micro_post_index') }}">Check all posts created by our Users</a>
    <p></p>
{% endblock %}