{% extends 'base.html.twig' %}
{% block content %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Hello</title>
    </head>
    {% block body %}
    {% for id, post in posts %}
        <p><a href="{{ path('blog_show', {'id': id}) }}">Id: {{ id }}</a></p>
        <h3>Title: {{ post.title }}</h3>
        <p>Text: {{ post.text }}</p>
    {% endfor %}
{% endblock %}
    </html>
{% endblock %}
